<div class="planos">
  <div class="container">
    <div class="row py-3">
      <div class="col-12 d-flex justify-content-center">
        <div class="row">
          <div class="col-xl-6 col-md-12 d-flex justify-content-center">
            <div class="box">
              <h2 class="card_title">SEGUE <b>FREE</b></h2>        
              <p class="pricing">R$0<span class="small">/por mês</span></p>
              <hr>
              <div class="card-body">
                <ul class="list-unstyled">        
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Uploads de até 5GB</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Proteção com senha</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faTimesCircle" size="lg" class="text-secondary me-2"></fa-icon> Personalização de tempo de expiração</li>
                  <li class="mb-4"><fa-icon [icon]="faTimesCircle" size="lg" class="text-secondary me-2"></fa-icon> Uploads ilimitados</li>
                  <li class="mb-4"><fa-icon [icon]="faTimesCircle" size="lg" class="text-secondary me-2"></fa-icon> Gerenciamento de links</li>
                  <li class="mb-4"><fa-icon [icon]="faTimesCircle" size="lg" class="text-secondary me-2"></fa-icon> Reabilitação de links</li>
                  <li class="mb-4"><fa-icon [icon]="faTimesCircle" size="lg" class="text-secondary me-2"></fa-icon> Personalizar limite de downloads</li>
                  <li class="mb-4"><fa-icon [icon]="faTimesCircle" size="lg" class="text-secondary me-2"></fa-icon> Desabilitar anúncios</li>          
                </ul>
              </div>
            </div>
          </div>
          <div class="py-2 d-xl-none"></div>
          <div class="col-xl-6 col-md-12 d-flex justify-content-center">
            <div class="box">
              <h2 class="card_title">SEGUE <b>PRO</b></h2>
              <p class="pricing">R$20<span class="small">/por mês</span></p>
              <hr>
              <div class="card-body">
                <ul class="list-unstyled">        
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Uploads de até 5GB</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Proteção com senha</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Personalização de tempo de expiração</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Uploads ilimitados</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Gerenciamento de links</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Reabilitação de links</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Personalizar limite de downloads</strong></li>
                  <li class="mb-4"><fa-icon [icon]="faCheckCircle" size="lg" class="text-success me-2"></fa-icon> <strong>Desabilitar anúncios</strong></li>    
                </ul>
                <a href="#" class="cta_btn"><strong>Assinar</strong></a>
              </div>
            </div>
          </div>
        </div>

    </div> 
  </div>
</div>