<div class="footer">
  <div class="d-flex">
    <span class="logo">SEGUE</span>
    <div class="social">
      <img src="/assets/icons/social-icons/facebook.svg" height="24px" width="24px"/>
      <img src="/assets/icons/social-icons/github.svg" height="24px" width="24px"/>
      <img src="/assets/icons/social-icons/instagram.svg" height="24px" width="24px"/>
    </div>
  </div>
  <div class="info">
    <ul>
      <li><a>Fale conosco</a></li>&nbsp;|&nbsp;
      <li><a>Política de privacidade</a></li>
    </ul>
  </div>
</div>