<div class="footer d-none d-md-flex">
  <div class="d-flex">
    <span class="logo">SEGUE</span>
    <div class="social">
      <img src="/assets/icons/social-icons/facebook.svg" height="24px" width="24px" />
      <img src="/assets/icons/social-icons/github.svg" height="24px" width="24px" />
      <img src="/assets/icons/social-icons/instagram.svg" height="24px" width="24px" />
    </div>
  </div>
  <div class="info">
    <a>Fale conosco</a>&nbsp;|&nbsp;<a>Política de privacidade</a>
  </div>
</div>

<div class="footer d-md-none">
  <div class="d-flex w-100 justify-content-between">
    <span class="logo">SEGUE</span>
    <div class="social">
      <img src="/assets/icons/social-icons/facebook.svg" height="24px" width="24px" />
      <img src="/assets/icons/social-icons/github.svg" height="24px" width="24px" />
      <img src="/assets/icons/social-icons/instagram.svg" height="24px" width="24px" />
    </div>
  </div>
</div>