<div class="footer d-none d-md-flex">
  <div class="d-flex">
    <span class="logo">SEGUE</span>
    <div class="social">
      <a href="https://www.facebook.com/"><img src="/assets/icons/social-icons/facebook.svg" height="24px" width="24px" /></a>
      <a href="https://www.instagram.com/"><img src="/assets/icons/social-icons/instagram.svg" height="24px" width="24px" /></a>
      <a href="mailto:ajuda@segue.com"><img src="/assets/icons/social-icons/mail.svg" height="24px" width="24px" /></a>
    </div>
  </div>
  <div class="info">
    <ul class="d-flex align-items-center">
      <li><a href="/termos-de-uso">Termos de uso</a>&nbsp;|&nbsp;</li>
      <li><a href="/politica-de-privacidade">Política de privacidade</a></li>
    </ul>
  </div>
</div>

<div class="footer d-md-none">
  <div class="d-flex w-100 justify-content-between">
    <span class="logo">SEGUE</span>
    <div class="social">
      <a href="https://www.facebook.com/"><img src="/assets/icons/social-icons/facebook.svg" height="24px" width="24px" /></a>
      <a href="https://www.instagram.com/"><img src="/assets/icons/social-icons/instagram.svg" height="24px" width="24px" /></a>
      <a href="mailto:ajuda@segue.com"><img src="/assets/icons/social-icons/mail.svg" height="24px" width="24px" /></a>
    </div>
  </div>
</div>
