<div class="home">
  <span *ngIf="!active" class="text d-none d-md-block">
    {{stepMessages[step - 1]}}
  </span>
  <span *ngIf="step == 1 && active" class="text">
    Pode soltar!
  </span>

  <div class="box" [class.expandable]="files.length > 0">
    <ng-container [ngSwitch]="step">
      <ng-container *ngSwitchCase="1" [ngTemplateOutlet]="step1"></ng-container>
      <ng-container *ngSwitchCase="2" [ngTemplateOutlet]="step2"></ng-container>
      <ng-container *ngSwitchCase="3" [ngTemplateOutlet]="step3"></ng-container>
      <ng-container *ngSwitchCase="4" [ngTemplateOutlet]="step4"></ng-container>
      <ng-container *ngSwitchCase="5" [ngTemplateOutlet]="step5"></ng-container>
    </ng-container>
  </div>

  <app-stepper [step]=step></app-stepper>

  <button (click)="nextStep()" class="button primary" [disabled]="files.length == undefined || files.length == 0">
    {{buttonText}}
  </button>
</div>

<div class="dropzone" [ngStyle]="{'z-index':active ? 9 : -9 }"></div>

<ng-template #step1>
  <app-step1 [files]="files" (fileCallback)="handleStep1($event)"></app-step1>
</ng-template>

<ng-template #step2>
  <app-step2 (passwordCallback)="handleStep2($event)"></app-step2>
</ng-template>

<ng-template #step3>
  <app-step3 (anonymousCallback)="handleStep3($event)"></app-step3>
</ng-template>

<ng-template #step4>
  <app-step4 (limitCallback)="handleStep4($event)"></app-step4>
</ng-template>

<ng-template #step5>
   <app-step5 [progress$]="progress$" [uploaded]="uploaded" [id]="id" [expireIn]="expirationDate"></app-step5>
</ng-template>