.home {
  height: calc(100vh - 160px);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content {
    display: flex;
    height: calc(100vh - 160px);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .text {
      color: white;
      font-size: 2rem;
      font-weight: 600;
    }

    .box {
      background-color: rgba($color: #000000, $alpha: .7);
      padding: 1em;
      width: 300px;
      border-radius: 10px;
      font-size: 12px;
    }

    .expandable {
      height: auto;
      min-height: 200px;
    }

    .resume {
      width: auto;
      margin-bottom: 1em;
    }
  }
}

::ng-deep .ngx-file-drop__drop-zone {
  height: calc(100vh + 40px) !important;
  width: 100vw !important;
  border: 0 !important;
  border-radius: 0 !important;

  &--over {
    background-color: transparent !important;
  }
}

::ng-deep .ngx-file-drop__content {
  height: 100vh !important;
}

