.home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  align-items: center;
  justify-content: center;
  color: white;

  .text {
    color: black;
    font-size: 32px;
    font-weight: 600;
  }

  .box {
    background-color: black;
    opacity: .7;
    padding: 1em;
    width: 300px;
    
    border-radius: 10px;
    font-size: 12px;

    .table {
      max-height: 200px;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 0;
      color: white;

      table tr {
        width: 300px;
      }
    }

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      padding: 0 1em;

      img {
        margin: .5em;
      }

      .file-input {
        visibility: hidden;
        width: 0;
        height: 0
      }
    }
  }

  .expandable {
    height: 300px;
  }

  button {
    color: white;
    background-color: #076FBB;
    border-radius: 10px;
    border: 0;
    padding: 1em 2em;
    margin-top: 1em;
  }

}

.dropzone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
 }
 ::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 15px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: #c4c4c4;
 }
 ::-webkit-scrollbar-track{
  background: #000000;
  border-radius: 0;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }