.home {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  align-items: center;
  justify-content: center;
  color: white;

  .text {
    color: black;
    font-size: 32px;
    font-weight: 600;
  }

  .box {
    background-color: black;
    opacity: .7;
    padding: 1em;
    width: 300px;
    border-radius: 10px;
    font-size: 12px;
  }

  .expandable {
    height: 200px;
  }

  button {
    color: white;
    background-color: #076FBB;
    border-radius: 100px;
    border: 0;
    padding: 1em 2em;
    margin-top: 1em;
  }

}

.dropzone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}