<div class="header">
  <a href="/"><span class="logo">SEGUE</span></a>
  <div class="d-none d-md-flex menu">
    <ul>
      <li><a href="/planos">Planos</a></li>&nbsp;|&nbsp;
      <li><a href="/contato">Contato</a></li>&nbsp;|&nbsp;
      <li *ngIf="!isLoggedIn"><a href="/login">Fazer Login</a></li>
      <li *ngIf="isLoggedIn"><a href="/">Meus Links</a></li>
    </ul>
  </div>
  <a class="d-block d-md-none" (click)="toggleHamburger()">
    <span class="icon"></span>
  </a>
  <div *ngIf="expanded" class="d-flex d-md-none list">
    <ul>
      <li><a href="/planos">Planos</a></li>
      <li><a href="/contato">Contato</a></li>
      <li *ngIf="!isLoggedIn"><a href="/login">Fazer Login</a></li>
      <li *ngIf="isLoggedIn"><a href="/">Meus Links</a></li>
    </ul>
  </div>
</div>
<div class="space"></div>