<div>
  <div class="container">
    <!-- Header -->
    <ng-container [ngTemplateOutlet]="data.templateHeader">
    </ng-container>

    <!-- Body -->
    <ng-container [ngTemplateOutlet]="data.templateBody">
    </ng-container>

    <!-- Footer -->
    <div class="row">
      <mat-dialog-actions align="end">
        <button mat-dialog-close class="btn btn-secondary" [mat-dialog-close]="false"
          (click)="modalResult(false)">Cancelar</button>
        <button cdkFocusInitial class="ms-2 btn btn-primary" (click)="modalResult(true)">Prosseguir</button>
      </mat-dialog-actions>
    </div>
  </div>
</div>