.form {
  display: flex;
  flex-direction: column;
  padding: 22px;

  .checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    opacity: 1;

    span {
      font-size: 16px;
    }

    input {
      height: 25px;
      width: 25px;
    }
  }

  .input {
    margin-bottom: 10px;

    input {
      opacity: 1;
    }
  }
}
