<div class="form">
  <div class="form-group mb-2">
    <label>Expirar em:</label>
    <input type="date" [formControl]="expirationDate" class="form-control" />
  </div>
  <div class="form-group mb-4">
    <label>Limites de downloads:</label>
    <input type="number" [formControl]="downloadLimit" class="form-control" placeholder="Limites de download" />
  </div>
  <div class="checkbox">
    <span>Proteger com senha</span>
    <input type="checkbox" [formControl]="requirePassword" (change)="toggleForm()" class="form-check-input" />
  </div>
  <div class="input">
    <input type="password" [formControl]="password" class="form-control" placeholder="Defina sua senha" />
  </div>
  <div *ngIf="expirationDate.value && downloadLimit.value" class="d-flex flex-column align-items-center">
    <span>{{ expirationDate.value | date:'dd/MM/yyyy':'UTC'}} | {{ downloadLimit.value }} downloads</span>
  </div>
  <div *ngIf="requirePassword.value == true" class="d-flex flex-column align-items-center">
    <span>Protegido com senha</span>
  </div>
</div>