<div class="contact container-fluid">
  <div class="main">

    <p class="text">Não passe perrengue para transferir arquivos. Nós cuidamos de tudo.</p>

    <div class="box">
      <p>Nosso time.</p>
      <div class="d-flex justify-content-around flex-wrap">
        <div class="profile-pic">
          <img src="/assets/team/anderson.jfif" class="image"/>
          <span class="name">Anderson Mori</span>
        </div>
        <div class="profile-pic">
          <img src="/assets/team/luana.jfif" class="image"/>
          <span class="name">Luana Santana</span>
        </div>
        <div class="profile-pic">
          <img src="/assets/team/mateus.jfif" class="image"/>
          <span class="name">Mateus Silveira</span>
        </div>
        <div class="profile-pic">
          <img src="/assets/team/ricardo.jfif" class="image"/>
          <span class="name">Ricardo Ogata</span>
        </div>
        <div class="profile-pic">
          <img src="/assets/team/renan.jfif" class="image"/>
          <span class="name">Renan Costa</span>
        </div>
      </div>
    </div>

  </div>
</div>
