<div class="contact">
  <div class="main">
    <p class="text">Não passe perrengue para transferir arquivos. Nós cuidamos de tudo.</p>
    <div class="box">
      <p>Nosso time.</p>
      <div class="d-flex justify-content-around">
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Anderson Mori</span>
        </div>
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Luana Santana</span>
        </div>
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Mateus Silveira</span>
        </div>
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Ricardo Ogata</span>
        </div>
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Renan Costa</span>
        </div>
      </div>
    </div>
  </div>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
  <p>AAAAA</p>
</div>