<div class="contact container-fluid">
  <div class="main">

    <p class="text">Não passe perrengue para transferir arquivos. Nós cuidamos de tudo.</p>

    <div class="box">
      <p>Nosso time.</p>
      <div class="d-flex justify-content-around flex-wrap">
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Anderson Mori</span>
        </div>
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Luana Santana</span>
        </div>
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Mateus Silveira</span>
        </div>
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Ricardo Ogata</span>
        </div>
        <div class="profile-pic">
          <div class="image"></div>
          <span class="name">Renan Costa</span>
        </div>
      </div>
    </div>

  </div>
  <div class="row resume">
    <div class="d-none d-md-block col-6">
      <img class="img-desktop order-last order-md-first" src="/assets/steps-desktop.png" />
    </div>
    <div class="d-block d-md-none col-12 text-center">
      <img class="img-mobile order-last order-md-first" src="/assets/steps-mobile.png" >
    </div>
    <span class="col-12 order-first order-md-last col-md-6">Estamos aqui para aumentar sua produtividade e solucionar seu perrengue.</span>
  </div>
  <div class="row doubt">
    <div class="d-flex col-12 col-sm-6 flex-column align-items-center">
      <span>Dúvidas?</span>
      <span>Entre em contato ;)</span>
    </div>
    <div class="col-12 col-sm-6 d-flex justify-content-center align-items-center">
      <a href="mailto:ajuda@segue.com">ajuda@segue.com</a>
    </div>
  </div>
</div>