<div class="download">

  <div class="box">
    <span>Você recebeu um link</span>

    <div class="d-flex flex-column align-items-center">
      <!-- Arquivo existe -->
      <div *ngIf="file">

        <!-- Arquivo tem senha -->
        <div *ngIf="file.requirePassword">
          <p>Insira a chave de segurança para baixar</p>
          <input type="password" [formControl]="password" class="form-control" placeholder="Senha" />
          <small *ngIf="invalidPassword">Senha inválida</small>
        </div>

        <!-- Arquivo sem senha -->
        <div *ngIf="!file.requirePassword">
          Tudo pronto!
        </div>
      </div>

      <!-- Arquivo não existe / indisponível -->
      <div *ngIf="!file && !downloaded">
        <span>Oops!</span>
        {{unavailableReason}}
      </div>

      <!-- Já baixou -->
      <div *ngIf="!file && downloaded">
        <span>Download iniciado!</span>
      </div>

      <button class="button primary mt-2" (click)="download(file)"
        *ngIf="file && !unavailableReason && !downloaded">Download</button>
    </div>


    <a href="/">Quer compartilhar também?</a>
  </div>

</div>
