@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: black;
  background-image: url(assets/backgrounds/background-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 0;
  padding: 10px 40px;
  font-size: 18px;
  white-space: nowrap;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.5s;

  &.primary {
    color: white;
    background-color: #076FBB;

    &:hover {
      background: darken(#076FBB, 7%);
    }
  }

  &.secondary {
    color: #076FBB;
    background-color: #E0E0E0;

    &:hover {
      background: darken(#E0E0E0, 10%);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}
