// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$s1-virtualities-primary: mat-palette($mat-indigo);
$s1-virtualities-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$s1-virtualities-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$s1-virtualities-theme: mat-light-theme((color: (primary: $s1-virtualities-primary,
      accent: $s1-virtualities-accent,
      warn: $s1-virtualities-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($s1-virtualities-theme);

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Open Sans", sans-serif;
  color: white;
}

body.home {
  background-image: url(assets/backgrounds/background-home.png);
}

body.planos {
  background-image: url(assets/backgrounds/background-planos.png);
}

body.contato {
  background-image: url(assets/backgrounds/background-contato.png);
}

.button {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 0;
  padding: 10px 40px;
  font-size: 18px;
  white-space: nowrap;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.5s;

  &.primary {
    color: white;
    background-color: #076FBB;

    &:hover {
      background: darken(#076FBB, 7%);
    }
  }

  &.secondary {
    color: #076FBB;
    background-color: #E0E0E0;

    &:hover {
      background: darken(#E0E0E0, 10%);
    }
  }

}
